@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffeeb;
}

.container {
  width: 80%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* padding: 10rem; */
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  height: 64px;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #ca5e1f;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  background: #cfcfcf;
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  background: #ffdada;
  animation-delay: 0.4s;
}

.title-card {
  list-style-type: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.title-card:hover {
  transform: scale(1.01);
}

.title-card:nth-child(even) {
  background-color: #cfcfcf;
}

.title-card:nth-child(odd) {
  background-color: #ffdada;
}
