@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.navigation {
  background-color: #ffec99;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.header button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  box-shadow: 2px 2px #000000;
  transition: 0.2s;
}

.header button:hover {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px #000000;
  transition: 0.2s;
}

.log-f {
  text-align: center;
  padding: 5rem;
}
